<div class="container-fluid" style="margin-top:-.2%">
	<div class="test">
		<h1>About Us</h1>
		[Some blurb here]

		<h1>Credits</h1>
		<li><span class="tag">Backend team:</span> Greg Monson, Chris Conway, Nick Helvig</li>
		<li><span class="tag">Frontend team:</span> Joseph</li>
		<li><span class="tag">Tracker team:</span> Eric Liu</li>
		<li><span class="tag">Handyman:</span> Paul Kang</li>
		<li><span class="tag">Primary advisor:</span> Carina Boo</li>
		<li><span class="tag">Miscellaneous advisors:</span> Arjun Baokar, Saurabh Mitra</li>
		<li><span class="tag">Alpha testers:</span></li>
		<li><span class="tag">Beta testers:</span></li>

		<br><br>
	</div>
</div>