<div class="container-fluid" style="margin-top:-.2%">
	<h1>This is our front page!</h1>
	<br>
	<p>The formating is at the moment tentative, but we will probably use this page
		to give an overview of the app, as well as post updates and in development 
		list tasks for the current iteration.</p>

	<% if Rails.env == "development" %>
		<p>Tasks for the current iteration: </p>

		<p>Backend:</p>
		<li>Set up deletion methods (both single and all) for all models.</li>
		<li>Add error codes to gifts and challenges.</li>
		<br>

		<p>Frontend:</p>
		<li>Get cookies to work.</li>
		<li>Set up the rest of the frontend tests.</li>
		<li>Make the remaining partials (gifts list, etc.)</li>
		<br>

		<p>General:</p>
		<li>Phonegap.</li>
		<br>

		<p>Grab bag for whoever's free:</p>
		<li>Set up frontend challenges controller (whoever knows exactly what challenges are meant to be).</li>
		<br>

		<br>
		<p>Resources:</p>
		<li><a href="https://still-plains-1604.herokuapp.com/#/">Deployed</a></li>
		<li><a href="https://github.com/conwaychriscosmo/Generosity/tree/iter2">Repo</a></li>
		<li><a href="https://docs.google.com/a/berkeley.edu/document/d/1nraxGbZLVMmfpMK-VHE9Brqcg1o3g856rTrs3YVD1JI/edit">Requirements and Specs</a></li>
		<li><a href="https://docs.google.com/a/berkeley.edu/document/d/1MTV1nptHi6riUTn1rRVfRnAvVBfpeGe80fPJdfVCQ5I/edit?pli=1">Design and Planning</a></li>
		<li><a href="https://www.pivotaltracker.com/s/projects/1181760">Pivotal Tracker</a></li>

	<%end%>

	<br><br>
</div>