<form name="usersForm" style="margin-left: 3%;" data-ng-submit="loginUser.login(loginUser.username, loginUser.password)" novalidate>
<div class="form">
  
      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="200px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none;">Username: </span>
            </td>
            <td width="200px;">
              <input type="text" class="form-control" placeholder="Username" data-ng-model="loginUser.username" style="" required>
            </td>
          </tr>
        </table>
      </div>
      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="200px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Password:  </span>
            </td>
            <td width="200px;">
              <input type="password" class="form-control" placeholder="Password" data-ng-model="loginUser.password" style="" required>
            </td>
          </tr>
        </table>
      </div>
      <button class="btn btn-default" style="margin-left:170px;margin-top:30px;">Log in</button>
</div>
</form>
