<div class="container-fluid" style="margin-top:-.2%" data-ng-init="profiledUser.getUserFromUrlParams()">
	<span class="profile-pic">
		<img style="height:200px; width:200px" src="{{profiledUser.profileUrl}}"></img>	
		<div>
			{{profiledUser.username}}
		</div>
	</span>
	<span class="profile-info">
		<span class="tag">Real name: </span>{{profiledUser.realName}}
		<br>
		<span class="tag">Best timeframe: </span>{{profiledUser.availableHours}}
		<br>
		<span class="tag">Current city: </span>{{profiledUser.currentCity}}
		<br>
		<span class="tag">Reputation: </span>{{profiledUser.reputation}}
		<br>
		<span class="tag">About me: </span>{{profiledUser.description}}
	</span>
</div>