head {
	width: 100%;
}

li {
	font-size: 13px;
}

#over {
	z-index: 10;
}

.lighten{
	background-color: white;
	z-index: 1000;
	width: 100%;
	height: 100%;
}

body{
	background:url(http://i.imgur.com/lGjlXUF.gif)no-repeat;
	background-size: cover;
}

.main-content {
	padding-top:5%;
}

.input-group-addon{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: bold;
}

.tag {
	color: blue;
}

.form{
	opacity: 0.9;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
	border-radius: 25px;
	background: url(http://i.imgur.com/VJeDMMe.jpg) no-repeat fixed;
	margin-left: 27%;
	/*height:300px;*/
	width: 500px;
	padding:30px;
}

.profile-pic {
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
	border-radius: 25px;
	/*background: url(http://i.imgur.com/VJeDMMe.jpg) no-repeat fixed;*/
	float: left;
	word-wrap: break-word;
	/*margin-left: 27%;*/
	/*height:300px;*/
	width: 40%;
	padding:30px;	
}

.profile-info {
	opacity: 0.9;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
	border-radius: 25px;
	background: url(http://i.imgur.com/VJeDMMe.jpg) no-repeat fixed;
	float: right;
	word-wrap: break-word;
	/*margin-left: 27%;*/
	/*height:300px;*/
	width: 55%%;
	padding:30px;
}

.test {
	opacity: 0.9;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
	border-radius: 25px;
	background: url(http://i.imgur.com/VJeDMMe.jpg) no-repeat fixed;
	width: 100%;
	padding:30px;
}


.navbar-default {
	opacity: .95;
	padding-left: 30px;
	padding-right: 30px;
	background: -moz-linear-gradient(top, #093c5b 1%, #562601 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#093c5b), color-stop(100%,#562601)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #093c5b 1%,#562601 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #093c5b 1%,#562601 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #093c5b 1%,#562601 100%); /* IE10+ */
	color: white;
	z-index: 100;
	/*position: fixed;*/
}

.navbar-brand {
	color: white;
}

.navbar-nav {
	color: white;
}

.dropdown-toggle {
	color: white;
}

.dropdown-toggle :active :hover :focus{
	background-color: red;
}

.dropdown-menu {
	background-color: teal;
}