<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <title>GenerosityEngine</title>
        <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/main.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/challenges.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/gifts.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/sessions.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/tracker.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/user.css?body=1" media="all" rel="stylesheet" />
        <link data-turbolinks-track="true" href="/assets/users.css?body=1" media="all" rel="stylesheet" />
        <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/transition.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/alert.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/modal.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/dropdown.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/scrollspy.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/tab.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/tooltip.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/popover.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/button.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/collapse.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/carousel.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap/affix.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/twitter/bootstrap.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/angular.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/angular-mocks.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/angular-route.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/angular-rails-templates.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/about.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/challenge.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/footbar.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/gift-form.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/gift.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/gifts-tests.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/index.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/login-form.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/map.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/navbar.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/profile.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/shop.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/users-form.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/users-tests.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
        <meta content="authenticity_token" name="csrf-param" />
        <meta content="JuCf1kDi9OS2kkjvXDZ4JdHnl6Lt01XXCgT8g54TFT0=" name="csrf-token" />
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script src="/assets/front.js?body=1"></script>

        <script src="/assets/spec/users-spec.js?body=1"></script>
        <script src="/assets/spec/gifts-spec.js?body=1"></script>

        <title> Generosity </title>

    </head>

    <body data-ng-app = 'generosity' data-ng-controller = "UsersController as user" data-ng-init="template=0">
        <div class="app">
            <navbar></navbar>

            <div class="main-content">

                Template: {{template}}

                <button data-ng-click="template=99" style="background-color:teal">Run Unit Tests</button>
                <button data-ng-click="template=7" style="background-color:teal"><a href="#profile/0">Show Sample Profile</a></button>
                <button data-ng-click="template=8" style="background-color:teal"><a href="#gift/0">Show Sample Gift</a></button>
                <button data-ng-click="template=9" style="background-color:teal"><a href="#gifts-form">Show Gift Form</a></button>

                <users-tests data-ng-if="template==99"></users-tests>
                <gifts-tests data-ng-if="template==99"></gifts-tests>


                <div ng-view></div>

                <gift-form data-ng-show="template==9"></gift-form>
                <div data-ng-controller="GiftsController as testGift" data-ng-init="testGift.createDummyGift()">
                    <gift data-ng-show="template ==8" name="{{testGift.name}}" giver="{{testGift.giver}}" recipient="{{testGift.recipient}}" rating="{{testGift.rating}}" description="{{testGift.description}}"></gift>
                </div>
            </div>
        </div>

        <footbar></footbar>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

    </body>

</html>